body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: Georgia;
  font-size: 30px;
}
.column {
  background-image: url(https://upload.wikimedia.org/wikipedia/en/9/94/NarutoCoverTankobon1.jpg);
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
