body {
    background-color: lightseagreen;
  }
  
  h1 {
    color: white;
    text-align: center;
  }

  .column {
    float: center;
    width: 100%;
    background-image: url(https://img.freepik.com/free-vector/white-3d-modern-background-design_53876-88246.jpg?size=626&ext=jpg)
  }
